.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: auto auto auto auto;

  gap: 20px;
}

/* Top row */
.box1 {
  background-color: #8a2be2;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.box2 {
  background-color: #b3b3b3;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

/* Right side spanning DOWN */
.box3 {
  background-color: #d7a9f3;
  grid-column: 4 / 5;
  grid-row: 1 / 3; /* spans down */
}

/* Bottom left */
.box4 {
  background-color: #eeeeee;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.box5 {
  background-color: #1f1b2a;
  color: white;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}